.wp-customizer .ui-autocomplete,
.wp-customizer .ui-datepicker {
	/* Hoist jQuery UI popups over who-knows-what in the Customizer. */
	z-index: 500000 !important;
}

.customize-control input.fm-datepicker-popup {
	/* Override Customizer defaults; datepickers have multiple inputs on one line. */
	width: 100px;
}

.customize-control input.fm-datepicker-time {
	/* Override Customizer defaults; datepickers have multiple inputs on one line. */
	width: 30px;
}

.customize-control .fm-datepicker-time-wrapper select {
	/* Override Customizer defaults; datepickers have multiple inputs on one line. */
	min-width: 0;
	width: auto;
}

.wp-customizer .fmjs-removable .fmjs-drag-icon {
	/* Nudge for the Customizer. */
	margin-top: 7px;
}

.wp-customizer .fmjs-removable .fmjs-drag-icon + .fmjs-removable-element {
	/* Nudge for the Customizer. */
	max-width: 80%;
}
