<phpunit
	bootstrap="tests/php/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
>

	<testsuites>
		<testsuite>
			<directory prefix="test-" suffix=".php">./tests/</directory>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist>
			<directory suffix=".php">./php/</directory>
			<file>./fieldmanager-beta-customize.php</file>
			<exclude>
				<directory suffix=".php">./php/demo/</directory>
			</exclude>
		</whitelist>
	</filter>
</phpunit>
